@font-face {
 font-family: "GothamPro";
 src: url("../fonts/GothamPro.ttf");
}

@font-face {
 font-family: "GothamPro-Bold";
 src: url("../fonts/GothamPro-Bold.ttf");
}

@font-face {
 font-family: "GothamPro-Medium";
 src: url("../fonts/GothamPro-Medium.ttf");
}

@font-face {
 font-family: "GothamPro-Light";
 src: url("../fonts/GothamPro-Light.ttf");
}

* {
	font-family: Montserrat, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #141414;
}

.inputFocus {
	outline: 0;
	height: 50px;
	padding: 0 15px;
	border: 1px solid #bebebe;
	border-radius: 25px;
	font-size: .85em;
	color: #141414;
	font-family: Ubuntu;
	-webkit-transition: .3s;
	transition: .3s;
	width: 100%;
	font-weight: 500;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
	transition: .3s;
}

.author p, .date-publish p {
	font-family: GothamPro-Light;
	font-size: 14px;
	color: #CCCCCC;
}

.author {
	align-self: flex-end;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

button {
	outline: none;
}

.inputFocus::-webkit-input-placeholder {
	color: #9c9c9c;
	transition: .3s;
}

.inputFocus::-moz-placeholder {
	color: #9c9c9c;
	transition: .3s;
}

.inputFocus:-ms-input-placeholder {
	color: #9c9c9c;
	transition: .3s;
}

.inputFocus::placeholder {
	color: #9c9c9c;
	transition: .3s;
}.inputFocus:focus::-webkit-input-placeholder{
	color: #141414;
}.inputFocus:focus::-moz-placeholder {
	color: #141414;
}.inputFocus:focus:-ms-input-placeholder{
	color: #141414;
}.inputFocus:focus::placeholder {
	color: #141414;
}.inputFocus:focus {
	border: 1px solid #141414;
}

/*________________________________________________*/

.wrapper-form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.popup {
	background: #fff;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 50px;
	position: relative;
	max-width: 400px;
	border-radius: 15px;
	box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.popup a {
	font-family: Ubuntu;
	margin-top: 10px;
	text-align: center;
	text-decoration: underline;
}

.popup h2{
	font-family: Montserrat;
	font-weight: bold;
	color: #141414;
	margin-bottom: 5px;
}

.popup p {
	font-family: Ubuntu;
	font-weight: 500;
	color: #bebebe;
	font-size: .9em;
	margin-bottom: 25px;
}

.popup input {
	margin-bottom: 20px;
}

.popup button {
	width: 100%;
}

.button {
	height: 50px;
	display: block;
	line-height: 49px;
	text-align: center;
	border-radius: 25px;
	background-color: #6448f0;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-family: "Ubuntu";
	-webkit-transition: .3s all;
	transition: .3s all;
	cursor: pointer;
	padding: 0 20px;
	border: none;
}
.button:hover {
	box-shadow: 0px 0px 18px #6448f0;
}

/* _________________________________ */

.header {
	padding: 25px 100px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .16);
}

.logo a {
	font-family: GothamPro-Medium;
}

.menuList ul li:not(:last-child) {
	margin-right: 30px;
}
.menuList ul li a {
	font-family: GothamPro;
	color: #141414;
	padding: 3px;
}

.menuList ul li a:hover {
	color: #6448f0;
}

.wrapper-container {
	padding: 0 100px;
}

#secondSection {
	background: #F6F6F5;
	flex-direction: column;
	justify-content: center;
	height: 800px;
}

#secondSection .wrapformSearch {
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin-bottom: 70px;
}

#secondSection input {
	border: 2px solid #6448f0;
	padding: 0 50px 0 205px;
	font-size: 16px;
	font-weight: 600;
}

#searchForm button {
	padding: 0;
	width: 30px;
	line-height: 60px;
	background: transparent;
	position: absolute;
	right: 20px;
	top: 0;
}#searchForm button:hover {
	box-shadow: none;
}
.wrap-search {
	position: relative;
	width: 100%;
}

#searchForm {
	width: 100%;
	max-width: 700px;
	flex-direction: column;
	position: relative;
}

.wrap-search .inputFocus.active {
	border-radius: 25px 25px 0 0;
}

.wrap-search .inputFocus.active {
	border-radius: 25px 25px 0 0;
}

.label-search {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 25px;
	font-weight: 500;
}

.result-search {
	flex-direction: column;
	width: 100%;
	position: absolute;
	top: 48px;
	background: #fff;
	z-index: 100;
	overflow: hidden;
}

.result-search .wrapperNewsDay-title {
	margin: 0;
}

.ourResult {
	width: 100%;
	justify-content: space-between;
	padding: 10px 25px;
	transition: .3s;
}

.ourResult:hover {
	background: #f6f6f5;
}

.wrap-author-date {
	flex-direction: column;
	align-items: flex-start;
}

.wrap-author-date .author {
	margin-bottom: 10px;
	width: 150px;
	overflow: hidden;
}

.result-search.active {
	border: 2px solid #6448F0;
	border-radius: 0 0 25px 25px;
}

section {
	width: 100%;
	margin-bottom: 80px;
}

section h1 {
	font-size: 56px;
	margin-bottom: 50px;
	margin-left: 100px;
}

.wrapperNewsDay__main h3 {
	font-weight: 500;
	margin-bottom: 15px;
}

.wrapperNewsDay-title {
	font-weight: 500;
	margin: 15px 0 10px 0;
	width: 100%;
}

.wrapperNewsDay-title p {
	word-wrap: break-word;
}

.section-wrapper-posts .wrapperNewsDay__main-item {
	width: calc(100% / 4);
}

.section-wrapper-posts {
	justify-content: flex-start;
	align-items: inherit;
	flex-wrap: wrap;
}

.section-wrapper-posts .wrapperpostDay-title {
	margin: 10px 0;
	font-weight: 500;
	width: 100%;
	overflow: hidden;
}

.wrapperNewsDay__main-items {
	flex-wrap: wrap;
	position: absolute;
	left: -60px;
	z-index: -3;
	opacity: 0;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	width: 100%;
}

.wrapperNewsDay__main-items.active {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	z-index: 2;
	left: 0;
	opacity: 1;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.wrapperNewsDay__main-item {
	flex-direction: column;
	padding: 20px;
	box-shadow: 0 0 2px 0 rgba(30,38,44,.25);
	background: #fff;
	position: relative;
	transition: .3s;
	align-items: flex-start;
	width: calc(100% / 3);
	height: 135px;
	position: relative;
}

.is-read {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
	color: #fff;
	background: #6448F0;
}

.tabs-posts a:not(.active) {
	color: #9c9c9c;
}

.tabs-posts a {
	position: relative;
	margin-right: 30px;
}

.tabs-posts a:first-child:before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 15px;
	right: -15px;
	border: 1px dashed #9c9c9c;
}

.tabs-posts {
	align-items: center;
	height: 20px;
	width: max-content;
	margin-bottom: 20px;
	font-size: 15px;
	font-weight: 500;
}

.wrapperNewsDay__main-item:hover {
	box-shadow: 0 6px 25px 0 rgba(30,38,44,.14);
	z-index: 3;
}

.wrapperNewsDay__main {
	width: 70%;
	height: 445px;
	position: relative;
}

/*_________________admin__________________*/

.wrapper-adminpanel {
	height: 100vh;
	padding: 40px;
	align-items: flex-start;	
}

#addForm-admin {
	width: 100%;
	max-width: 600px;
}

.wrapper-adminpanel textarea {
	resize: none;
	padding: 20px;
	min-height: 300px;
}

.wpap-input-admin:not(:last-child) {
	margin-bottom: 30px;
}

.wpap-input-admin h2 {
	margin-bottom: 10px;
}


.wrapper-our-post {
	flex-direction: column;
	margin-bottom: 200px;
}

.our-post__title {
	text-align: center;
	padding: 100px 0;
	background: #F6F6F5;
	font-weight: 500;
	font-size: 30px;
	width: 100%;
	border-bottom: 10px solid #6448F0;
	margin-bottom: 60px;
}

.our-post__text {
	width: 100%;
	max-width: 700px;
	line-height: 25px;
	margin-bottom: 60px;
}.our-post__text p {font-family: GothamPro-Medium;}

.our-post__date-author {
	width: 100%;
	max-width: 700px;
}

.wrapper-our-post .author p, .wrapper-our-post .date-publish p {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 18px;
	color: #141414;
}

.wrpap-input-img {
	margin-bottom: 20px;
}